// ==============================
// Custom style
// 自定义样式
// ==============================

.sidenote {
  float: right;
  width: 34%;
  margin-right: -37.5%;
  position: relative;
  transform: translateY(10%);

  font-size: .8rem;
  line-height: 110%;
  font-weight: 200;
}
